
#moeditor .ui-tabs .ui-tabs-panel {
    padding: 2px 0 0 0;
}

#moe-wrapper .table>tbody>tr>td, 
#moe-wrapper .table>thead>tr>th {
	text-align: left !important;
}
.moe-fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 66666;
}

/* Tree */
.tree li.parent_li>span {
    cursor: pointer;
    padding: 1px;
}

.tree li span {
    padding: 1px;
}

.tree ul ul {
    padding-top: 0;
}

.tree li.parent_li>span:hover {
    background-color: #245580;
    border: 1px solid #245580;
    color: #fff;
}


.tree li.parent_li>span:hover+ul li span {
    background: #C6DDF0!important;
    border: 1px solid #C6DDF0;
    color: #000;
}



/* Tree bright */
td.tree-bright {
    background-color: #fff;
}

td.tree-bright ul.jqueryFileTree a {
    color: #333;
}
td.tree-bright ul.jqueryFileTree a:hover,
td.tree-bright ul.jqueryFileTree a.hover {
    background: #BDF;
}
td.tree-bright .moe-copy {
    color: rgb(106, 158, 0) !important;
}
td.tree-bright .moe-cut {
    color: rgb(190, 123, 0) !important;
}

/* Tree dark */
td.tree-dark {
    background-color: #272822;
}

td.tree-dark ul.jqueryFileTree a {
    color: #ddd;
}
td.tree-dark ul.jqueryFileTree a:hover,
td.tree-dark ul.jqueryFileTree a.hover {
    background: #666;
}
td.tree-dark .moe-copy {
    color: rgb(188, 245, 73) !important;
}
td.tree-dark .moe-cut {
    color: rgb(245, 184, 73) !important;
}

/* Tree grey */
td.tree-grey {
    background-color: #ddd;
}

td.tree-grey ul.jqueryFileTree a {
    color: #000;
}
td.tree-grey ul.jqueryFileTree a:hover,
td.tree-grey ul.jqueryFileTree a.hover {
    background: #bbb;
}
td.tree-grey .moe-copy {
    color: rgb(109, 163, 0) !important;
}
td.tree-grey .moe-cut {
    color: rgb(179, 116, 0) !important;
}



.color-divs {
    width: 100%;
    height: 18px;
    border: 1px solid #ddd;
}
.color-divs.bright-theme {
    background-color: #fff;
}
.color-divs.grey-theme {
    background-color: #ddd;
}
.color-divs.dark-theme {
    background-color: #272822;
}




.control-panel {
    width: 100%;
    height: 22px;
}


.context-menu {
    width: 120px;
    padding: 3px;
}